Repository Truxnit/TW: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

.lintstagedrc.json:

{
   "*.{js,jsx,ts,tsx,json,css,scss,md}": ["prettier --write"],
    "*.{js,jsx,ts,tsx}": ["eslint --max-warnings 0 --config .eslintrc.json"],
    "*.{ts,tsx}": ["tsc-files -p tsconfig.json --noEmit"]
  }

Create github-ci.yml
  .github/workflows/github-ci.yml
Due: none

edit github-ci file
  .github/workflows/github-ci.yml
Due: none

Update github-ci.yml
  .github/workflows/github-ci.yml
Due: none

add github-ci node module cache
  .github/workflows/github-ci.yml
Due: none

add remove name:
  .github/workflows/github-ci.yml
Due: none

add useForm hook, add css (wip)
  src/Views/login/LoginPage.module.scss
  src/Views/login/LoginPage.tsx
  src/assets/scss/_global.scss
  src/assets/scss/_headings.scss
  src/assets/scss/_mediaQueries.scss
  src/assets/scss/_variables.scss
  src/assets/scss/styles.scss
  src/index.tsx
  src/utils/hooks/useForm.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

commented console.logs
  src/Views/login/LoginPage.tsx
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add ii18n translation
  package.json
  src/i18n/index.ts
  src/i18n/translations/default-de.ts
  src/i18n/types.ts
  src/i18n/useTranslation.test.ts
  src/i18n/useTranslation.ts
  src/index.tsx
  src/setupTests.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

update styling and test for loginpage
  src/Views/login/LoginPage.module.scss
  src/Views/login/LoginPage.test.tsx
  src/Views/login/LoginPage.tsx
  src/assets/images/svg/eye-close.svg
  src/assets/images/svg/eye-open.svg
  src/assets/scss/_variables.scss
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add storybook lib and change login styling
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/Views/login/LoginPage.module.scss
  src/utils/storybook/title-from-filename.test.ts
  src/utils/storybook/title-from-filename.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add register page update useform and login page
  src/Views/login/LoginPage.test.tsx
  src/Views/login/LoginPage.tsx
  src/Views/register/RegisterPage.test.tsx
  src/Views/register/RegisterPage.tsx
  src/Views/register/RegisterPageLayout.tsx
  src/i18n/translations/default-de.ts
  src/index.tsx
  src/utils/hooks/useDocumentTitle.ts
  src/utils/hooks/useForm.test.ts
  src/utils/hooks/useForm.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

update packages
  package.json
  src/utils/hooks/useForm.test.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

change login and register styling
  src/Views/login/LoginPage.module.scss
  src/Views/login/LoginPage.tsx
  src/Views/login/LoginPageLayout.tsx
  src/Views/register/RegisterPage.module.scss
  src/Views/register/RegisterPage.tsx
  src/Views/register/RegisterPageLayout.tsx
  src/assets/scss/_variables.scss
  src/assets/scss/styles.scss
  src/index.tsx
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add test and comments
  src/Views/register/RegisterPage.test.tsx
  src/utils/hooks/useForm.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

fix loginpage test
  src/Views/login/LoginPage.test.tsx
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add customFormInput (wip)
  src/Views/login/LoginPage.tsx
  src/Views/register/RegisterPage.test.tsx
  src/Views/register/RegisterPage.tsx
  src/components/CustomFormInput/CustomFormInput.tsx
  src/models/inputTypes.ts
  src/utils/hooks/useForm.ts
  src/utils/hooks/useInput.test.ts
  src/utils/hooks/useInput.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

update useform for register and login with custom input
  src/Views/login/LoginPage.tsx
  src/Views/register/RegisterPage.tsx
  src/components/CustomFormInput/CustomFormInput.tsx
  src/models/inputTypes.ts
  src/utils/hooks/useForm.test.ts
  src/utils/hooks/useForm.ts
  src/utils/hooks/useInput.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add Header component
  src/components/Header/Header.test.tsx
  src/components/Header/Header.tsx
  src/i18n/translations/default-de.ts
  src/index.tsx
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add footer component
  src/assets/scss/styles.scss
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.test.tsx
  src/components/Footer/Footer.tsx
  src/i18n/translations/default-de.ts
  src/index.tsx
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add router, add notFoundPage with route (wip)
  package.json
  src/Views/notFound/NotFoundPage.test.tsx
  src/Views/notFound/NotFoundPage.tsx
  src/Views/notFound/NotFoundPageLayout.tsx
  src/i18n/translations/default-de.ts
  src/index.tsx
  src/routes.tsx
  src/utils/resolveRoute.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add notFound test and memory router for test
  src/Views/notFound/NotFoundPage.test.tsx
  src/utils/tests/memory-router-for-view-test.tsx
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

update not found page test
  src/Views/notFound/NotFoundPage.test.tsx
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

update notFoundPage test, render is in every test
  src/Views/notFound/NotFoundPage.test.tsx
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add form validation for Register
  src/utils/hooks/useForm.ts
  src/utils/validation/formValidation.test.ts
  src/utils/validation/formValidation.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add form validation for Register fix linter
  src/utils/validation/formValidation.test.ts
  src/utils/validation/formValidation.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add form validation for login
  src/Views/login/LoginPage.tsx
  src/Views/register/RegisterPage.tsx
  src/components/CustomFormInput/CustomFormInput.module.scss
  src/components/CustomFormInput/CustomFormInput.tsx
  src/utils/hooks/useForm.ts
  src/utils/validation/formValidation.test.ts
  src/utils/validation/formValidation.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

fix spelling mistake
  src/utils/resolveRoute.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

update packages, change form input css
  package.json
  src/Views/login/LoginPage.module.scss
  src/assets/scss/styles.scss
  src/components/CustomFormInput/CustomFormInput.module.scss
  yarn.lock
Due: prettier --write

label css wip
  src/assets/scss/styles.scss
  src/components/CustomFormInput/CustomFormInput.module.scss
  src/components/CustomFormInput/CustomFormInput.tsx
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

change Routing
  package.json
  src/Views/login/LoginPage.module.scss
  src/Views/login/LoginPage.tsx
  src/Views/notFound/NotFoundPage.test.tsx
  src/Views/notFound/NotFoundPage.tsx
  src/Views/notFound/NotFoundPageLayout.tsx
  src/assets/scss/styles.scss
  src/routes.tsx
  src/utils/routing/protectedRoute.tsx
  src/utils/routing/resolveRoute.ts
  src/utils/tests/memory-router-for-view-test.tsx
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

change typescript version
  package.json
  yarn.lock
Due: prettier --write

fix test and validation css for register page
  package.json
  src/Views/login/LoginPage.test.tsx
  src/Views/register/RegisterPage.module.scss
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add scripts, add api.json and needed packages
  .gitignore
  package.json
  scripts/build-openapi.sh
  scripts/normalize-openapi.js
  scripts/normalize/compareBy.js
  scripts/normalize/normalizeSpec.js
  scripts/normalize/sortByKeys.js
  scripts/resolve-non-schema-references.js
  src/apiclient/backend/two-worlds-api/two-worlds-api.json
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json

add mock service worker, axios
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json

add generated openapi endpoints
  src/apiclient/backend/two-worlds-api/generated/two-worlds-api.json
  src/apiclient/backend/two-worlds-api/generated/two-worlds-api.resolved.json
  src/apiclient/backend/two-worlds-api/generated/types.d.ts
  src/apiclient/backend/two-worlds-api/two-worlds-api.json.yml
  src/apiclient/backend/two-worlds-api/two-worlds-axios.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

add axios, add/fix test
  src/Views/login/LoginPage.test.tsx
  src/Views/register/RegisterPage.test.tsx
  src/initAxios.test.ts
  src/initAxios.ts
  src/utils/auth/access-token.ts
  src/utils/constants.ts
  src/utils/msw-types.test.ts
  src/utils/msw-types.ts
  src/utils/tests/mock-api-for-tests.test.ts
  src/utils/tests/mock-api-for-tests.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit

fix test for hooks add useReactiveLocalStorage add useAuth (wip)
  package.json
  src/Views/login/LoginPage.test.tsx
  src/utils/hooks/useAuth.ts
  src/utils/hooks/useForm.test.ts
  src/utils/hooks/useReactiveLocalStorage.test.ts
  src/utils/hooks/useReactiveLocalStorage.ts
  src/utils/hooks/useWindowEventListener.ts
Due: prettier --write, eslint --max-warnings 0 --config .eslintrc.json, tsc-files -p tsconfig.json --noEmit
